<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
       	http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

	<!-- <context:annotation-config /> -->
	
	<context:component-scan base-package="com.testspring"/>
	
	<!-- <bean class="com.testspring.Book" id="bookid" name="booknm" primary="true">
		<property name="bookName" value="my book"></property>
		<property name="bookAuthor" value="dr.abc"></property>
	</bean> -->
	<!-- <bean class="com.testspring.Book" id="bookid2" name="booknm2">
		<property name="bookName" value="my book 2"></property>
		<property name="bookAuthor" value="dr.abc 2"></property>
	</bean>
	<bean class="com.testspring.Order" id="orderid" name="ordernm" /> -->
	
</beans>