<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OnlineHotelBookingWebap</display-name>
  <context-param>
    <param-name>MYSQL_dbname</param-name>
    <param-value>mydb</param-value>
  </context-param>
  <context-param>
    <param-name>MYSQL_dburl</param-name>
    <param-value>jdbc:mysql://localhost:3306</param-value>
  </context-param>
  <context-param>
    <param-name>MYSQL_username</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>MYSQL_password</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>ORACLE_dbname</param-name>
    <param-value>mydb</param-value>
  </context-param>
  <context-param>
    <param-name>ORACLE_dburl</param-name>
    <param-value>jdbc:mysql://localhost:3306</param-value>
  </context-param>
  <context-param>
    <param-name>ORACLE_username</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>ORACLE_password</param-name>
    <param-value>root</param-value>
  </context-param>
 
  <context-param>
    <param-name>DB-IN-USE</param-name>
    <param-value>ORACLE</param-value>
  </context-param>
  
  <context-param>
    <param-name>imagefolderpath</param-name>
    <param-value>C:\Users\brkhyati\eclipse-workspace\OnlineHotelBookingWebap\src\main\webapp\images\</param-value>
  </context-param>
  <filter>
    <description></description>
    <display-name>validationfilter</display-name>
    <filter-name>validationfilter</filter-name>
    <filter-class>com.narola.hotelbooking.Hotel.validationfilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>validationfilter</filter-name>
    <url-pattern>/displayallhotels</url-pattern>
  </filter-mapping>
  <filter>
    <description></description>
    <display-name>RoomValidationFilter</display-name>
    <filter-name>RoomValidationFilter</filter-name>
    <filter-class>com.narola.hotelbooking.Room.RoomValidationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RoomValidationFilter</filter-name>
    <url-pattern>/addroompage</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RoomValidationFilter</filter-name>
    <url-pattern>/editroompage</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>Validate_multilevel_form</display-name>
    <filter-name>Validate_multilevel_form</filter-name>
    <filter-class>com.narola.hotelbooking.Hotel.ValidateMultilevelForm</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Validate_multilevel_form</filter-name>
    <url-pattern>/addhotelandroom</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>RegistraterValidationFilter</display-name>
    <filter-name>RegistraterValidationFilter</filter-name>
    <filter-class>com.narola.hotelbooking.Authentication.RegistraterValidationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RegistraterValidationFilter</filter-name>
    <url-pattern>/registration</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>HotelServlet</servlet-name>
    <servlet-class>com.narola.hotelbooking.Hotel.HotelServlet</servlet-class>
    <init-param>
      <param-name>fromInsideServlet</param-name>
      <param-value>hotelServlet</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
    <multipart-config>
      <max-file-size>104448</max-file-size>
      <max-request-size>26214400</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelServlet</servlet-name>
    <url-pattern>/displayallhotels</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dbservlet</servlet-name>
    <servlet-class>com.narola.hotelbooking.Utility.DatabaseServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>viewhotel</servlet-name>
    <servlet-class>com.narola.hotelbooking.Hotel.HotelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewhotel</servlet-name>
    <url-pattern>/viewhotel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deletehotel</servlet-name>
    <servlet-class>com.narola.hotelbooking.Hotel.HotelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletehotel</servlet-name>
    <url-pattern>/deletehotel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>edithotel</servlet-name>
    <servlet-class>com.narola.hotelbooking.Hotel.HotelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>edithotel</servlet-name>
    <url-pattern>/edithotelpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addhotel</servlet-name>
    <servlet-class>com.narola.hotelbooking.Hotel.HotelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addhotel</servlet-name>
    <url-pattern>/addhotelpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRoomServlet</display-name>
    <servlet-name>AddRoomServlet</servlet-name>
    <servlet-class>com.narola.hotelbooking.Room.AddRoomServlet</servlet-class>
    <multipart-config>
      <max-file-size>104448</max-file-size>
      <max-request-size>26214400</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRoomServlet</servlet-name>
    <url-pattern>/addroompage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListRoomServlet</display-name>
    <servlet-name>ListRoomServlet</servlet-name>
    <servlet-class>com.narola.hotelbooking.Room.ListRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListRoomServlet</servlet-name>
    <url-pattern>/displayallrooms</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListRoomServlet</display-name>
    <servlet-name>ListRoomServlet</servlet-name>
    <servlet-class>com.narola.hotelbooking.Room.ListRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListRoomServlet</servlet-name>
    <url-pattern>/viewroom</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListRoomServlet</servlet-name>
    <url-pattern>/roomview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRoomServlet</display-name>
    <servlet-name>DeleteRoomServlet</servlet-name>
    <servlet-class>com.narola.hotelbooking.Room.DeleteRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRoomServlet</servlet-name>
    <url-pattern>/deleteroom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRoomServlet</display-name>
    <servlet-name>UpdateRoomServlet</servlet-name>
    <servlet-class>com.narola.hotelbooking.Room.UpdateRoomServlet</servlet-class>
    <multipart-config>
      <max-file-size>104448</max-file-size>
      <max-request-size>26214400</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRoomServlet</servlet-name>
    <url-pattern>/editroompage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageUploadServlet</display-name>
    <servlet-name>ImageUploadServlet</servlet-name>
    <servlet-class>ImageUploadServlet</servlet-class>
    <multipart-config>
      <max-file-size>104448</max-file-size>
      <max-request-size>26214400</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageUploadServlet</servlet-name>
    <url-pattern>/imageupload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageUploadBase64Servlet</display-name>
    <servlet-name>ImageUploadBase64Servlet</servlet-name>
    <servlet-class>ImageUploadBase64Servlet</servlet-class>
    <multipart-config>
      <max-file-size>104448</max-file-size>
      <max-request-size>26214400</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageUploadBase64Servlet</servlet-name>
    <url-pattern>/base64imageupload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlobImageUpload</display-name>
    <servlet-name>BlobImageUpload</servlet-name>
    <servlet-class>BlobImageUpload</servlet-class>
    <multipart-config>
      <max-file-size>104448</max-file-size>
      <max-request-size>26214400</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlobImageUpload</servlet-name>
    <url-pattern>/blobimageupload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddHotelServlet</display-name>
    <servlet-name>AddHotelServlet</servlet-name>
    <servlet-class>com.narola.hotelbooking.Hotel.AddHotelServlet</servlet-class>
    <multipart-config>
      <max-file-size>104448</max-file-size>
      <max-request-size>26214400</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHotelServlet</servlet-name>
    <url-pattern>/addhotelandroom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateHotelServlet</display-name>
    <servlet-name>UpdateHotelServlet</servlet-name>
    <servlet-class>com.narola.hotelbooking.Hotel.UpdateHotelServlet</servlet-class>
    <multipart-config>
      <max-file-size>104448</max-file-size>
      <max-request-size>26214400</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateHotelServlet</servlet-name>
    <url-pattern>/updatepage2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashboardServlet</display-name>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>com.narola.hotelbooking.AdminDashboard.DashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/admindashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.narola.hotelbooking.Authentication.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/userlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.narola.hotelbooking.Authentication.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.narola.hotelbooking.Authentication.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CityServlet</display-name>
    <servlet-name>CityServlet</servlet-name>
    <servlet-class>com.narola.hotelbooking.StateCity.CityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityServlet</servlet-name>
    <url-pattern>/cities</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CityServlet</servlet-name>
    <url-pattern>/popularcities</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CityServlet</servlet-name>
    <url-pattern>/getstatewisecities</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchHotelServlet</display-name>
    <servlet-name>SearchHotelServlet</servlet-name>
    <servlet-class>com.narola.hotelbooking.Hotel.SearchHotelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchHotelServlet</servlet-name>
    <url-pattern>/searchhotel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.narola.hotelbooking.Authentication.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AdminLoginValidationFilter</display-name>
    <filter-name>AdminLoginValidationFilter</filter-name>
    <filter-class>com.narola.hotelbooking.Authentication.AdminLoginValidationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminLoginValidationFilter</filter-name>
    <url-pattern>/adminlogin</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogoutServlet</display-name>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <servlet-class>com.narola.hotelbooking.Authentication.AdminLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <url-pattern>/adminlogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AvailableRoomServlet</display-name>
    <servlet-name>AvailableRoomServlet</servlet-name>
    <servlet-class>com.narola.hotelbooking.Room.AvailableRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvailableRoomServlet</servlet-name>
    <url-pattern>/availablerooms1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookingDetailsServlet</servlet-name>
    <servlet-class>com.narola.hotelbooking.Booking.BookingDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingDetailsServlet</servlet-name>
    <url-pattern>/bookingdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertBookingEntryServlet</servlet-name>
    <servlet-class>com.narola.hotelbooking.Booking.InsertBookingEntryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertBookingEntryServlet</servlet-name>
    <url-pattern>/addbooking</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>120</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>com.narola.hotelbooking.RazorpayPaymentGateway.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.narola.hotelbooking.UserHome.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>home</welcome-file>
    <welcome-file>default.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AddCityServlet</servlet-name>
    <servlet-class>com.narola.hotelbooking.StateCity.AddCityServlet</servlet-class>
    <multipart-config>
      <max-file-size>104448</max-file-size>
      <max-request-size>26214400</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCityServlet</servlet-name>
    <url-pattern>/addcity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCityServlet</servlet-name>
    <servlet-class>com.narola.hotelbooking.StateCity.UpdateCityServlet</servlet-class>
    <multipart-config>
      <max-file-size>104448</max-file-size>
      <max-request-size>26214400</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCityServlet</servlet-name>
    <url-pattern>/editcitypage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentResponseServlet</display-name>
    <servlet-name>PaymentResponseServlet</servlet-name>
    <servlet-class>com.narola.hotelbooking.RazorpayPaymentGateway.PaymentResponseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentResponseServlet</servlet-name>
    <url-pattern>/paymentresponse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListBookingServlet</display-name>
    <servlet-name>ListBookingServlet</servlet-name>
    <servlet-class>com.narola.hotelbooking.Booking.ListBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListBookingServlet</servlet-name>
    <url-pattern>/listofbookings</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBookingServlet</display-name>
    <servlet-name>SearchBookingServlet</servlet-name>
    <servlet-class>com.narola.hotelbooking.Booking.SearchBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBookingServlet</servlet-name>
    <url-pattern>/searchbooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CityWiseHotelServlet</display-name>
    <servlet-name>CityWiseHotelServlet</servlet-name>
    <servlet-class>com.narola.hotelbooking.Hotel.CityWiseHotelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityWiseHotelServlet</servlet-name>
    <url-pattern>/citywisehotel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SortBookingServlet</display-name>
    <servlet-name>SortBookingServlet</servlet-name>
    <servlet-class>com.narola.hotelbooking.Booking.SortBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SortBookingServlet</servlet-name>
    <url-pattern>/sortbooking</url-pattern>
  </servlet-mapping>
</web-app>